/* .boton{
    width: 167px;
    height: 80px;
    background: #6278F7;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 24px 32px;
} */

.boton{
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    /* padding: 24px 32px; */
    
    font-size: 18px;

    width: 167px;
    height: 80px;
    border: none;
    color: white;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}